<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.camera.core, androidx.camera.lifecycle, androidx.camera.view" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrowsinessDetector">
        <activity
            android:name=".fragmentImpl.FragmentActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.DrowsinessDetector.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_split"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.DrowsinessDetector.NoActionBar"
            tools:ignore="LockedOrientationActivity, UnusedAttribute"/>
        <activity
            android:name=".VideoActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.DrowsinessDetector.NoActionBar"
            tools:ignore="LockedOrientationActivity"/>

        <service
            android:name=".services.DetectorBackgroundService"
            android:exported="false"
            android:process=":myLifecycleService"
            android:useAppZygote="true"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>